<% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= @question.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container text-center new_question_block">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-6 col-sm-4 col-md-6">
      <%= render 'form', question: @question %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-6">
       <%= link_to '戻る', root_path %>
    </div>
  </div>
</div>
<script>
  $(document).ready( function(){
    $('#question_question').eq(0).focus();
  });
</script>